button{
    border-radius: 4px;
    background-color: rgb(86, 134, 189);
    border: 2px solid rgb(71, 69, 184);
    color: whitesmoke;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
}

button:hover{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 25px;
}

button:active{
    background-color: whitesmoke;
    color: black;
}